#define WIFI_SSID                ""
#define WIFI_PASSWORD            ""

#define MQTT_SERVER              "192.168.1.2"
#define MQTT_PORT                1883
#define MQTT_USER                ""
#define MQTT_PASS                ""
#define MQTT_CLIENT_ID           "ESP8266Client"

#define ALIVE_TOPIC              "esp8266/ac/status"
#define JSON_SET_TOPIC           "esp8266/ac/json/set"
#define JSON_STATE_TOPIC         "esp8266/ac/json/state"
#define ON_SET_TOPIC             "esp8266/ac/on/set"
#define ON_STATE_TOPIC           "esp8266/ac/on/state"
#define OSCILLATE_SET_TOPIC      "esp8266/ac/oscillate/set"
#define OSCILLATE_STATE_TOPIC    "esp8266/ac/oscillate/state"
#define SPEED_SET_TOPIC          "esp8266/ac/speed/set"
#define SPEED_STATE_TOPIC        "esp8266/ac/speed/state"

#define IR_PIN 14
